<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test thread-count="6" name="ChromeTest" parallel="instances">
		<classes>
			<class name="com.docker.demo.ChromeTest1" />
			<class name="com.docker.demo.ChromeTest2" />
			<class name="com.docker.demo.ChromeTest3" />
		</classes>
	</test> <!-- Test -->

	<!-- <test thread-count="6" name="FirefoxTest" parallel="instances">
		<classes>
			<class name="com.docker.demo.FirefoxTest2" />
			<class name="com.docker.demo.FirefoxTest1" />
			<class name="com.docker.demo.FirefoxTest3" />
		</classes>
	</test> Test -->
</suite> <!-- Suite -->
